# Flutter
**/build/
**/.dart_tool/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.terraform.tfstate.lock.info
**/*.tfvars

# Packer
**/*.pkrvars.hcl

# Corosync
**/corosync/authkey
