# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.terraform.tfstate.lock.info
**/*.tfvars

# Packer
**/*.pkrvars.hcl

# Flutter
**/build/
**/.dart_tool/

# Protocol Buffers
**/protos/*.dart
**/protos/*.go
